<link rel="stylesheet" type="text/css" href="/styles/nav-links.css">

<nav>

<!-- Display each navigation link -->
<% Object.keys(links).forEach(function (id) { %>
  <a href=<%= links[id].href %>> <%= links[id].text %> </a>
<% }) %>

</nav>
