<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<%- include('../partials/character-info') %>  <!-- Displays the Character's information -->

<p>
  Ant-Man is just an awesome and friendly guy. He's wicked smart, super goofy, and overall feels relatable. Plus he was pretty
  instrumental in helping with the time travel part of things in EndGame. He's consistently funny, and can take down some hardcore villans.
</p>
