<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <%- include('../partials/character-info') %>  <!-- Displays the Character's information -->
</body>

</html> <!-- Closes the opening html tag rendered by partials/head.ejs -->
