<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<%- include('../partials/character-info') %>  <!-- Displays the Character's information -->

<p>
  Iron Man is up there as one of my favorites because he always seems to know what to do, has incredible brainpower,
  and underneath the raging narcisism, he wants to help people out. Plus he was the first major super hero in the MCU
  (not counting Captain America), and his movies kicked off the MCU as we know it.
</p>
