<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<%- include('../partials/character-info') %>  <!-- Displays the Character's information -->

<p>
  Spider-Man is the best Marvel character ever, it's not even close. Especially the Tobey Maguire version of Spider-Man.
  He's a goofy guy, but extremely humble and has a genuine interest in helping people. He does everything by himself, with
  no help from fancy gadgets or friends. He gets beaten down, but always gets back up. Spider-Man is clearly the best!
</p>
